﻿@using FishhawkLake.HtmlHelpers
@model FishhawkLake.Models.ViewModel.AlertLogViewModel


@{
    ViewBag.Title = "AlertLog";
}
<br />
<h2>AlertLog</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DID", new SelectList(ViewBag.dids, "DID"), "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Time Triggered
        </th>
        <th>
            Value
        </th>
        <th>
            Device
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Alerts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>

        </tr>
    }



</table>

<br />
@Html.PageLinks(Model.PagingInfo, x => Url.Action("AlertLog", new { page = x }))

