﻿@model FishhawkLake.Models.AlertUserContact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlertUserContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Select)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Select)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
