﻿@model FishhawkLake.Models.ContactModel

@{
    ViewBag.Title = "ContactUs";
}

<br />
<br />

<h2>Contact Us</h2>

<div>
    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
    {
        <form>

            <div class="form-group">
                <!-- Email field -->
                <label class="control-label requiredField" for="email">Your Email<span class="asteriskField">*</span></label>
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", name = "email", type = "email" })
            </div>

            <div class="form-group">
                <!-- Subject field -->
                <label class="control-label " for="subject">Subject</label>
                @Html.TextBoxFor(m => m.subject, new { @class = "form-control", name = "email", type = "text" })
            </div>

            <div class="form-group">
                <!-- Message field -->
                <label class="control-label " for="message">Message</label>
                @Html.TextAreaFor(m => m.message, new { @class = "form-control", cols = "40", id = "message", name = "message", rows = "10" })
            </div>

            <div class="form-group">
                <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                @ViewBag.result
            </div>


        </form>

        <div class="modal" id="mySuccess">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Email Send!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Our tech will contact you shortly!
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


