﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#alert").hide();
        });

    });
</script>

<script type="text/javascript">
    setTimeout(function () {
        location = ''
    }, 60000)
</script>

<div class="alert alert-warning" role="alert" style="display: @ViewBag.Display" id="alert">
    <div class="row">
        <a style="padding-top:.5em; padding-right: 3em">This is a warning alert. @ViewBag.DeviceId has crossed a threshold, its value is @ViewBag.Value </a>
        <div class=" ml-md-auto d-md-flex">
            <input type="submit" value="Dismiss" class="btn btn-default" id="hide" />
        </div>

    </div>
</div>
<br />
<div class="container">
    <div class="row">

        <script type='text/javascript' src='https://darksky.net/widget/default-small/45.9907,-123.3376/us12/en.js?width=100%&height=70&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Arial&customFont=&units=us'></script>
    </div>
    <div class="row">
        <script type='text/javascript' src='https://darksky.net/widget/graph-bar/46.0351,-123.3548/us12/en.js?width=100%&height=251&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Default&customFont=&units=us&timeColor=333333&tempColor=333333&currentDetailsOption=false'></script>
    </div>

</div>
<br />
<br />

<div class="row">
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Psi</h5>
                <canvas id="PSI" class="dropDown"></canvas>

                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#PSiPastData" id="button1">Past Data</button>
                <div id="PSiPastData" class="collapse">
                    <br />
                    <canvas id="PSI7"></canvas>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Water Level</h5>
                <canvas id="WaterLevel"></canvas>
                <br />
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#WaterLevelPastData" id="button1">Past Data</button>
                <div id="WaterLevelPastData" class="collapse">
                    <br />
                    <canvas id="WaterLevel7"></canvas>

                </div>

            </div>

        </div>

    </div>

</div>

<br />
<br />

<div class="row">
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Turbidity</h5>
                <br />
                <canvas id="Turbidity"></canvas>
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#TurbidityPastData" id="button1">Past Data</button>
                <div id="TurbidityPastData" class="collapse">
                    <br />
                    <canvas id="Turbidity7"></canvas>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-6" id="psi">
        <div class="card">
            <div class="card-body" id="card">
                <h5 class="card-title">Chlorine Level</h5>
                <br />
                <canvas id="Chlorine"></canvas>
                <br />
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ChlorinePastData" id="button1">Past Data</button>
                <div id="ChlorinePastData" class="collapse">
                    <br />
                    <canvas id="Chlorine7"></canvas>

                </div>

            </div>

        </div>

    </div>

</div>

<br />
<br />

@section Graphs
{

    <script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script type="text/javascript" src="~/Scripts/LineGraph.js"></script>
}